body {
    font-family: Arial, sans-serif;
    background-color: #98300a;
    color: #fff;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color:#98300a;
    text-align: center;
    padding: 10px;
}

header img {
    width: 100px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1 {
    color: #ffd700;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #5e2605;
    color: white;
}

footer {
    font-size: 0.8em;
}
